#root {
  display: flex;
  flex-flow: row nowrap;
}

#city-list {
  justify-content: start;
  margin: 0 2em;
  ul {
    height: 35em;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
  }
  button {
    width: 10em;
    margin: 2px;
  }
}
#card-display {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  div {
    color: #242424;
    background-color: gray;
    height: fit-content;
    padding: 0 1em;
  }
  #global-alert {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
  }
}

.red-level {
  color: red;
}
.orange-level {
  color: orange;
}
.green-level {
  color: green;
}
